.login-header > .title {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.login-header > .category {
	text-align: center;
}


.form-group > .form-field-error > p {
	font-size: 0.9em;
	color: gray;
}
